*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --primary-color :#1E2A47;
    --secondary-color:#141D2F;
    --text-color:#FFFFFF;
}

.light__theme{
    --primary-color :#FEFEFE;
    --secondary-color:#F6F8FF;
    --text-color:#2B3442;
}

body{
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: 'Space Mono', monospace;
}
.base{
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.headder{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    height: 38px;
    border-radius: 5px;
    margin-bottom: 56px;
}
.headder__logo{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
}
.headder__theme{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.change{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.change__text{
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 2.5px;
    
    color: #90A4D4;
}

.base__search{
    background-color: var(--primary-color);
    width: 65%;
    height: 69px;
    border-radius: 15px;
    display: flex;
    align-items:center;
    justify-content: center; 
    margin-bottom:24px ; 
    
}
.form{

    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;   
}
.search__logo{
    width: 24px;
    height: 24px;
    margin: 15px;
}
.search__input{
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: var(--text-color);
    background-color: transparent;
    height: 50px;
    width: 60%;
    border: none;
}
.search__errormessage{
    min-width: 100px;
    margin-left: 15%;
    color: transparent;
}

.search__button{
    cursor: pointer;
    background-color: #0079FF;
    border-radius: 15px;
    border: 0;
    color: var(--text-color);
    height: 50px;
    min-width: 106px;
    margin-left:34px;
    margin-right: 10px;
}


.user{
    width: 65%;
    height: 430px;
    background-color:var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center; 
    border-radius: 15px;
    color: var(--text-color);
    
}
.user__iconANDbaseI{
    margin-top: -230px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;

}
.iconDiv{
    margin-left: 48px;
    margin-top: 48px;
    margin-right: 37px;
    width: 117px;
    height: 117px;
    border: #070606 3px solid;
   
}
.iconDiv1{
   display: none;
  
}
.baseI_and_bio{

    width: 75%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.baseI{
    width: 47vw;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 48px;
    margin-right: 10px;
    margin-left:-20px ;

}

.user__name{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
}
.user__handle{
    color: #0079FF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.user__joined{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    margin-right: 50px;
}

.user__bio{
    align-self: flex-start;
    width: 100%;
    margin-right: 10px;
    margin-left: 5px;
    height: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
}
.user__numbers{
    background-color:  var(--secondary-color);
    border-radius: 15px;
    width: 90%;
    height: 85px;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-top: 32px;
   
}
.numbers__repo{
    float: right;
    margin-left: 33px;
}
.numbers__following {
    margin-right: 90px;
}
.textN{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
}
.numberN{
    font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 33px;
text-transform: uppercase;
}

.footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    margin-top: 37px;
    gap: 20%    ;

}

.list{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
}
.small{
    margin-right: 15px;
    max-height: 20px;
 
    
}
.footerContainer2{
    margin-right: 10px;

}


@media (max-width:1300px){
    .iconDiv{
        display: none;
    }
    .headder{
        width: 80%;
    }
    .base__search{
        width: 80%;
    }
    .user{
        width: 80%;
        height: 50%;
    }
   
    .baseI_and_bio{
    width: 100%;
    }
    .tabletimg{
        width: 100%;
  
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .iconDiv1{
        display: inline-block;
        margin-left: 40px;
        margin-top: 40px;
        margin-right: 37px;
        width: 117px;
        height: 117px;
        border: #070606 3px solid;
    }
    .baseI{
        width:60%;
        align-self: flex-end;
        margin-right: 10%;
        margin-bottom: 38px;
        flex-direction: column;
        /* border: #dad614 3px solid; */
  
    }
    .user__name{
        font-size: 26px;
        line-height: 39px;
        margin-bottom: 5px;
    }
    .user__handle{
        margin-bottom: 8px;
    }
    .user__bio{
        margin-top: 20px;
        margin-left: 40px;
    }
    .user__numbers{
        margin-left: 40px;
    }
    .footer{
        margin-left: 70px;  
    }
}
@media (max-width:750px){
    .search__input{
        width: 100px;
    }
    .search__errormessage{
        display: none;
    }
    .user__name{
        font-size: 16px;
line-height: 24px;
    }
    .user__handle{
        font-size: 13px;
line-height: 19px;
    }
    .user__joined{
        font-size: 13px;
line-height: 19px;
    }
    .user__bio{
        margin-top: 10px;
        font-size: 13px;
line-height: 25px;
width: 80%;
    }
    .textN{
        font-size: 11px;
line-height: 16px;
    }
    .numberN{
        font-size: 16px;
line-height: 24px;
    }
    .user__numbers{
        margin-top: 5px;
        margin-left: 5%;
    }
    .numbers__following {
        margin-right: 10%;
    }
    .footer{
        margin-top: 15px;
        font-size: 15px;
line-height: 22px;
flex-direction: column;
align-items: flex-start;
    }
    .baseI_and_bio{
        margin-top:-50px;
    }
    .iconDiv1{
        width: 23vw;
        height: 23vw;
    }
    .base{
        margin-top: 0;
    }
    .user{
        height: 70%;
    }
    .base__search{
        margin-top: -30px;
    }
}
